<%= form_for(@sub_cost_center_three) do |f| %>
  <% if @sub_cost_center_three.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_cost_center_three.errors.count, "error") %> prohibited this sub_cost_center_three from being saved:</h2>

      <ul>
      <% @sub_cost_center_three.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :cost_center_id, "Centro de Custo" %>
    <%= f.select(:cost_center_id, CostCenter.order(:nome).collect {|c| [c.nome, c.id]}, {prompt: "SELECT CENTRO DE CUSTO"}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :sub_cost_center_id, "Sub Centro de Custo" %>
    <% if @sub_cost_center_three.cost_center_id.present? %>
      <%= f.collection_select :sub_cost_center_id, sub_center(@sub_cost_center_three.cost_center_id), :id, :descricao, {prompt: "SELECIONE SUB CENTRO DE CUSTO"}, {class: "form-control"} %>
    <% else %>
      <%= f.collection_select :sub_cost_center_id, [], :id, :descricao, {prompt: "SELECT PRIMEIRO CENTRO DE CUSTO"}, {class: "form-control"}  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :nome %><br>
    <%= f.text_field :nome, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
    <%= link_to "Listar Todos", sub_cost_center_threes_path, class: "btn btn-default" %>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    $("#sub_cost_center_three_cost_center_id").change(function(){
      var cost_center = "cost_center_id="+$(this).val();
      console.log(cost_center);
      $.getJSON('/sub_cost_centers_by_cost', cost_center, function(data){
        var options = '<option value="">SELECIONE SUB CENTRO CUSTO</option>'; 
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#sub_cost_center_three_sub_cost_center_id").html(options);
      });
    });
  });
</script>
