<div class="panel panel-default">
  <div class="panel-heading">Dados do Terceiro Centro de Custo</div>
  <div class="panel-body">
		<p>
		  <strong>Cost center:</strong>
		  <%= @sub_cost_center_three.cost_center.nome %>
		</p>

		<p>
		  <strong>Sub cost center:</strong>
		  <%= @sub_cost_center_three.sub_cost_center.nome %>
		</p>

		<p>
		  <strong>Nome:</strong>
		  <%= @sub_cost_center_three.nome %>
		</p>  
	</div>

</div>

<div class="form-group">
  <%= link_to 'Editar', edit_sub_cost_center_three_path(@sub_cost_center_three), class: "btn btn-primary"  %> 
  <%= link_to 'Voltar', sub_cost_center_threes_path, class: "btn btn-default" %>
  <%= link_to 'Novo ', new_sub_cost_center_three_path, class: "btn btn-success" %>
</div>