				<p>
				  <strong>Tipo pessoa:</strong>
				  <%= object.name_type_person %>
				</p>

				<p>
				  <strong>CPF/CNPJ:</strong>
				  <%= object.cpf_cnpj %>
				</p>

				<p>
				  <strong>Nome:</strong>
				  <%= object.nome %>
				</p>

				<p>
				  <strong>Endereco:</strong>
				  <%= object.endereco %>
				</p>

				<p>
				  <strong>Numero:</strong>
				  <%= object.numero %>
				</p>

				<p>
				  <strong>Complemento:</strong>
				  <%= object.complemento %>
				</p>

				<p>
				  <strong>Bairro:</strong>
				  <%= object.bairro %>
				</p>

				<p>
				  <strong>Cidade:</strong>
				  <%= object.cidade %> / <%= object.estado %>
				</p>
		  
				<p>
				  <strong>CEP:</strong>
				  <%= object.cep %>
				</p>
