<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dados da Pessoa
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="panel panel-default">

          <div class="panel panel-default">

            <div class="panel-body"> 
              <%= render 'data_person', object: @person %> 	
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Contatos
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

        <div class="panel-body">
          <div class="panel panel-default">

            <div class="panel panel-default">

              <div class="panel-body"> 
                <%= render 'shared/show_contacts', object: @person %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
          E-mail
        </a>
      </h4>
    </div>
    <div id="collapseTree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTree">
      <div class="panel-body">

        <div class="panel-body">
          <div class="panel panel-default">

            <div class="panel panel-default">

              <div class="panel-body"> 
                <%= render 'shared/show_emails', object: @person %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Account Banks
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">

        <div class="panel-body">
          <div class="panel panel-default">

            <div class="panel panel-default">

              <div class="panel-body"> 
                <%= render 'shared/show_account_bank', object: @person %>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Document
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">

        <div class="panel-body">
          <div class="panel panel-default">

          <div id="gallery-car" data-toggle="modal-gallery" data-target="#modal-gallery">
            <% @person.assets.each do |asset| %>
            <p>
              <%= link_to image_tag( asset.asset.url(:thumb)), "#" ,  data: {:toggle=>"modal", :target=> "#myModal"} %> 
            </p>
            <% end %>
          </div>    
              
          <%= render 'shared/document', object: @person %>

          </div>
        </div>

      </div>
    </div>
  </div>



<!-- div fim -->
</div>




<div class="form-group">
  <%= link_to 'Editar', edit_person_path(@person), class: "btn btn-primary"  %> 
  <%= link_to 'Voltar', people_path, class: "btn btn-default" %>
  <%= link_to 'Novo ', new_person_path, class: "btn btn-success" %>
</div>