          <div class="panel panel-default">

            <div class="panel-body"> 
              <p>
                <strong>Person:</strong>
                <%= @account_payable.person.nome %>
              </p>

              <p>
                <strong>Cost center:</strong>
                <%= @account_payable.cost_center.nome %>
              </p>

              <p>
                <strong>Sub cost center:</strong>
                <%= @account_payable.sub_cost_center.nome %>
              </p>

              <p>
                <strong>Sub cost center threes:</strong>
                <%= @account_payable.sub_cost_center_three.nome %>
              </p>

              <p>
                <strong>Data Compra:</strong>
                <%= date_br(@account_payable.date_purchase) %>
              </p>

              <p>
                <strong>Data vencimento:</strong>
                <%= date_br(@account_payable.data_vencimento) %>
              </p>

              <p>
                <strong>Documento:</strong>
                <%= @account_payable.documento %>
              </p>

              <p>
                <strong>Valor:</strong>
                <%= number_to_currency(@account_payable.valor, unit: "R$ ", separator: ",", delimiter: ".") %>
              </p>

              <p>
                <strong>Status:</strong>
                <%= @account_payable.status_name %>
              </p>

              <p>
                <strong>Obs:</strong>
                <pre>
                  <%= @account_payable.obs %>
                </pre>
              </p>

            </div>
          </div>
