<%= form_for(@account_payable) do |f| %>
  <% if @account_payable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_payable.errors.count, "error") %> prohibited this account_payable from being saved:</h2>

      <ul>
      <% @account_payable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :person_id, "Pessoa" %><br>
    <%= f.select(:person_id, Person.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :cost_center_id, "Centro de Custo" %>
    <%= f.select(:cost_center_id, CostCenter.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :sub_cost_center_id, "Sub Centro de Custo" %><br>
    <%= f.select(:sub_cost_center_id, SubCostCenter.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :sub_cost_center_three_id, "Terceiro Sub Centro de Custo" %><br>
    <%= f.select(:sub_cost_center_three_id, SubCostCenterThree.order(:nome).collect {|c| [c.nome, c.id]}, {include_blank: true}, {class: "form-control"} ) %>
  </div>

  <div class="form-group">
    <%= f.label :data_purchase, "Data" %><br>
    <% if @account_payable.new_record? %> 
      <%= f.text_field :date_purchase, value: date_br(DateTime.current), class: "form-control datepicker" %>
    <% else %>
      <%= f.text_field :date_purchase, value: date_br(@account_payable.date_purchase), class: "form-control datepicker" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :data_vencimento, "Data" %><br>
    <% if @account_payable.new_record? %> 
      <%= f.text_field :data_vencimento, value: date_br(DateTime.current), class: "form-control datepicker" %>
    <% else %>
      <%= f.text_field :data_vencimento, value: date_br(@account_payable.data_vencimento), class: "form-control datepicker" %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :documento %><br>
    <%= f.text_field :documento, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :valor, "Valor" %><br>
    <%= f.text_field :valor, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :obs %><br>
    <%= f.text_area :obs, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-primary btn-sm btn-block" %>
    <%= link_to "Listar Todos", account_payables_path, class: "btn btn-default btn-sm btn-block" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      language: 'pt-BR'
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#account_payable_cost_center_id").change(function(){
      var cost_center = "cost_center_id="+$(this).val();
      console.log(cost_center);
      $.getJSON('/sub_cost_centers_by_cost', cost_center, function(data){
        var options = '<option value="">SELECIONE SUB CENTRO CUSTO</option>'; 
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#account_payable_sub_cost_center_id").html(options);
      });
    });
  });
</script>

<script type="text/javascript">
  $(function(){
    $("#account_payable_sub_cost_center_id").change(function(){
      var cost_center = $("#account_payable_cost_center_id").val();
      var sub_cost_center = $(this).val();
      var cost_and_sub_cost = {'cost_center_id': cost_center, 'sub_cost_center_id': sub_cost_center}
      //var myLoc = { 'lat': 35, 'lon': -110 };
      console.log(cost_and_sub_cost);
      $.getJSON('/sub_cost_centers_three_by_sub_cost_center', cost_and_sub_cost, function(data){
        var options = '<option value="">SELECIONE SUB CENTRO CUSTO NIVEL 3</option>'; 
        $.each(data, function(i, item) {
          options += '<option value="' + item.id + '">' + item.n + '</option>';
        });
        $("#account_payable_sub_cost_center_three_id").html(options);
      });
    });
  });
</script>
